/* src/App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #FFFFFF;
}

.container {
  padding: 20px;
  text-align: center;
  
}

h1, h2 {
  color: #76c1f0;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  padding: 8px;
  margin-top: 5px;
  width: 100%;
  font-size: 20pt;
  max-width: 300px;
  background-color: #1E1E1E;
  border: 1px solid #76c1f0;
  border-radius: 8px;
  color: #FFFFFF;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #76c1f0;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}

button:hover {
  background-color: #76c1f0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #76c1f0;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 3em;
}
table {
  
  width: 100%;
  max-width: 500px;
  margin: 15px auto ;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #76c1f0;
  border-radius: 8px;
  overflow: hidden;
}

thead th {
  background-color: #1E1E1E;
  color: #76c1f0;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #76c1f0;
  border-right: 1px solid #76c1f0;
}

thead th:last-child {
  border-right: none;
}

tbody td {
  background-color: #1E1E1E;
  padding: 10px;
  border-bottom: 1px solid #333333;
  border-right: 1px solid #76c1f0;
  color: #FFFFFF;
}

tbody td:last-child {
  border-right: none;
}

tbody tr:last-child td {
  border-bottom: none;
}

tbody tr:hover {
  background-color: #2A2A2A;
}

p {
  margin: 10px 0;
}


/* Estilos para a tabela de descontos */
.tabela-descontos {
  width: 100%;
  max-width: 700px;
  margin: 15px auto;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #BB86FC;
  border-radius: 8px;
  overflow: hidden;
}

.tabela-descontos thead th {
  background-color: #1E1E1E;
  color: #BB86FC;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #BB86FC;
  border-right: 1px solid #BB86FC;
}

.tabela-descontos thead th:last-child {
  border-right: none;
}

.tabela-descontos tbody td {
  background-color: #1E1E1E;
  padding: 10px;
  border-bottom: 1px solid #333333;
  border-right: 1px solid #BB86FC;
  color: #FFFFFF;
}

.tabela-descontos tbody td:last-child {
  border-right: none;
}

.tabela-descontos tbody tr:last-child td {
  border-bottom: none;
}

.tabela-descontos tbody tr:hover {
  background-color: #2A2A2A;
}
